.DS_Store
*.map
/target
wasm/pkg
node_modules
pnpm-lock.yaml
password-manager/common/node_modules
password-manager/desktop/node_modules
password-manager/mobile/node_modules
password-manager/mobile/dist
password-manager/desktop/dist
password-manager/node_modules
packages/password-manager/mobile/dist
livnote/frontend/desktop/node_modules
livnote/frontend/desktop/dist/
chat/frontend/desktop/node_modules
chat/frontend/desktop/dist/
sthalam/frontend/desktop/node_modules
sthalam/frontend/desktop/dist/
sthalam/frontend/blocksuite-test/node_modules
sthalam/frontend/blocksuite-test/dist/
sthalam/src-tauri/target/
.cursorignore
